<!doctype html>
<html>

<head>
    <title>Color Annotator</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{{ url_for('static', filename='survey.css') }}" rel="stylesheet">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script>
        this._books = {{ books|tojson|safe }};
        this._colors = {{ colors|tojson|safe }};
    </script>
</head>

<body>
    <div id="survey-app" class="app">
        <div class="container">
            <div class="title">
                Color Annotation Study
            </div>
            <book-question
                v-for="book in pageBooks"
                v-bind:key="book.id"
                v-bind:book="book"
                v-bind:response="responses[book.id]"
                v-bind:colors="colors"
                v-on:set-response="setResponse"
                v-on:set-confidence="setConfidence"
                v-on:add-seconds="addSeconds"
            ></book-question>
            <div class="pagination">
                <div 
                    v-if="page > 1"
                    class="pagination-button"
                    v-on:click="setPage(page - 1)"
                >
                    &lt; Prev
                </div>
                <div class="pagination-text">
                    [[ page ]] / [[ maxPage ]]
                </div>
                <div 
                    v-if="maxPage > page"
                    class="pagination-button"
                    v-on:click="setPage(page + 1)"
                >
                    Next &gt;
                </div>
            </div>
        </div>
    </div>
    <script>
        var responses = {};
        for (var i = 0; i < this._books.length; i++) {
            var book = this._books[i];
            responses[book.id] = {
                cells: [],
                confidence: null,
                seconds: 0.0,
            };
            for (var j = 0; j < 5; j++) {
                responses[book.id].cells.push({
                    color: '#FFFFFF',
                    tokens: [],
                });
            }
        }
        var paletteColors = this._colors;
        Vue.component('color-picker', {
            delimiters: ['[[', ']]'],
            props: [
                'colors',
            ],
            data: function() {
                return {};
            },
            methods: {
                handleColorClick: function(color) {
                    this.$emit('pick', color);
                }
            },
            template: /*html*/`
                <div class="color-picker">
                    <div 
                        v-for="color in colors"
                        v-bind:key="color"
                        class="color-picker-cell"
                        v-bind:style="{ backgroundColor: color }"
                        v-on:click="() => handleColorClick(color)"
                    ></div>
                </div>
            `,
        });
        Vue.component('book-question', {
            delimiters: ['[[', ']]'],
            props: [
                'book',
                'response',
                'colors',
            ],
            data: function() {
                return {
                    cellIndex: 0,
                };
            },
            methods: {
                setCellIndex: function(index) {
                    this.cellIndex = index;
                },
                setCellColor: function(color) {
                    this.$emit('set-response', this.book.id, this.cellIndex, color, []);
                    if (this.cellIndex < 5 - 1) {
                        this.cellIndex += 1;
                    }
                },
                setConfidence: function(value) {
                    this.$emit('set-confidence', this.book.id, value);
                },
            },
            template: /*html*/`
                <div class="book-question">
                    <div class="text-column">
                        <div class="genre">
                            Genre: [[ book.genre ]]
                        </div>
                        <div class="content-box">
                            <div class="booktitle">
                                [[ book.title ]]
                            </div>
                            <div class="description">
                                [[ book.description ]]
                            </div>
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="form-section-title">
                            Palette Color Picker
                        </div>
                        <div class="palette">
                            <div 
                                class="color-cell"
                                v-for="(cell, i) in response.cells"
                                v-bind:key="cell.color"
                                v-bind:class="{ 'color-cell--active': i == cellIndex }"
                                v-bind:style="{ backgroundColor: cell.color }"
                                v-on:click="() => setCellIndex(i)"
                            ></div>
                        </div> 
                        <color-picker
                            v-bind:colors="colors"
                            v-on:pick="setCellColor"
                        ></color-picker>
                        <div class="form-section-title">
                            Confidence on Your Palette
                        </div>
                        <div class="confidence-input">
                            <div 
                                class="score-button"
                                v-for="value in [1,2,3,4,5,6,7,8,9,10]"
                                v-bind:key="value"
                                v-bind:class="{ 'score-button--active': value == response.confidence }"
                                v-on:click="() => setConfidence(value)"
                            >
                                [[ value ]]
                            </div>
                        </div>
                    </div>
                </div>
            `,
        });
        var app = new Vue({
            el: '#survey-app',
            delimiters: ['[[', ']]'],
            data: {
                books: this._books,
                colors: this._colors,
                responses: responses,
                pageSize: 5,
                page: 1,
                maxPage: 0,
                pageBooks: [],
            },
            created: function() {
                this.setPageBooks();
            },
            methods: {
                setPageBooks: function() {
                    var minIndex = (this.page - 1) * this.pageSize;
                    var maxIndex = Math.min(this.page * this.pageSize - 1, this.books.length);
                    this.pageBooks = this.books.slice(minIndex, maxIndex + 1);
                    this.maxPage = Math.ceil(this.books.length / this.pageSize);
                },
                setResponse: function(bookId, cellIndex, color, tokens) {
                    var newCells = this.responses[bookId].cells.slice(0);
                    newCells[cellIndex] = {
                        color: color,
                        tokens: tokens,
                    };
                    this.responses[bookId].cells = newCells;
                },
                setConfidence: function(bookId, score) {
                    this.responses[bookId].confidence = score;
                },
                addSeconds: function(bookId, seconds) {
                    this.responses[bookId].seconds += seconds;
                },
                setPage: function(page) {
                    this.page = page;
                    window.scrollTo(0, 0);
                },
            },
            watch: {
                page: function() {
                    this.setPageBooks();
                },
            },
        });
    </script>
</body>
</html>