<!doctype html>
<html>

<head>
    <title>Color Annotator</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{{ url_for('static', filename='survey.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="title">
            Color Annotation Study
        </div>
        <div class="content">
            Welcome to Color Annotation Study.<br />
            <a class="link-button" href="/survey/{{ books_id }}/pretest">
                Start
            </a>
        </div>
    </div>
</body>

</html>