<!doctype html>
<html>

<head>
    <title>Color Annotator</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{{ url_for('static', filename='survey.css') }}" rel="stylesheet">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script>
        this._booksId = '{{ books_id }}';
        this._surveyKey = '_color_annotator_web_' + _booksId;
        this._books = {{ books|tojson|safe }};
        this._colors = {{ colors|tojson|safe }};
    </script>
</head>

<body>
    <div id="survey-app" class="app">
        <div class="container">
            <div class="title">
                Color Annotation Study
            </div>
            <book-question
                v-for="book in pageBooks"
                v-bind:key="book.id"
                v-bind:book="book"
                v-bind:response="responses[book.id]"
                v-bind:colors="colors"
                v-on:set-response="setResponse"
                v-on:set-confidence="setConfidence"
                v-on:add-seconds="addSeconds"
            ></book-question>
            <div class="pagination">
                <div 
                    v-if="page > 1"
                    class="pagination-button"
                    v-on:click="setPage(page - 1)"
                >
                    &lt; Prev
                </div>
                <div class="pagination-text">
                    Page [[ page ]] / [[ maxPage ]]
                </div>
                <div 
                    v-if="maxPage > page"
                    class="pagination-button"
                    v-on:click="setPage(page + 1)"
                >
                    Next &gt;
                </div>
                <div 
                    v-else
                    class="pagination-button"
                    v-on:click="submit"
                >
                    Submit
                </div>
            </div>
        </div>
    </div>
    <script>
        var blankResponses = {};
        for (var i = 0; i < this._books.length; i++) {
            var book = this._books[i];
            blankResponses[book.id] = {
                cells: [],
                confidence: null,
                seconds: 0.0,
            };
            for (var j = 0; j < 5; j++) {
                blankResponses[book.id].cells.push({
                    color: '#FFFFFF',
                    token: '',
                });
            }
        }
        var paletteColors = this._colors;
        Vue.component('color-picker', {
            delimiters: ['[[', ']]'],
            props: [
                'colors',
            ],
            data: function() {
                return {};
            },
            methods: {
                handleColorClick: function(color) {
                    this.$emit('pick', color);
                }
            },
            template: /*html*/`
                <div class="color-picker">
                    <div 
                        v-for="color in colors"
                        v-bind:key="color"
                        class="color-picker-cell"
                        v-bind:style="{ backgroundColor: color }"
                        v-on:click="() => handleColorClick(color)"
                    ></div>
                </div>
            `,
        });
        Vue.component('book-question', {
            delimiters: ['[[', ']]'],
            props: [
                'book',
                'response',
                'colors',
            ],
            data: function() {
                return {
                    cellIndex: 0,
                    isActive: false,
                    mouseTimestamp: null,
                };
            },
            methods: {
                setCellIndex: function(index) {
                    this.cellIndex = index;
                },
                setCellColor: function(color) {
                    this.$emit('set-response', this.book.id, this.cellIndex, color, null);
                },
                setCellToken: function(e) {
                    this.$emit('set-response', this.book.id, this.cellIndex, null, e.target.value);
                },
                setConfidence: function(value) {
                    this.$emit('set-confidence', this.book.id, value);
                },
                handleMouseOver: function() {
                    this.isActive = true;
                    this.mouseTimestamp = Date.now();
                },
                handleMouseOut: function() {
                    this.isActive = false;
                    this.$emit('add-seconds', this.book.id, Date.now() - this.mouseTimestamp);
                    this.mouseTimestamp = null;
                },
            },
            template: /*html*/`
                <div 
                    class="book-question"
                    v-on:mouseover="handleMouseOver"
                    v-on:mouseout="handleMouseOut"
                >
                    <div 
                        v-if="!isActive"
                        class="book-question-shade"
                    >
                        <div class="shade-text">
                            Hover your mouse cursor on this box to work on this task.   
                        </div>
                    </div>
                    <div class="text-column">
                        <div class="genre">
                            Genre: [[ book.genre ]]
                        </div>
                        <div class="content-box">
                            <div class="booktitle">
                                [[ book.title ]]
                            </div>
                            <div class="description">[[ book.description ]]</div>
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="form-section-title">
                            Palette
                        </div>
                        <div class="indented-content">
                            <div class="palette">
                                <div 
                                    class="color-cell"
                                    v-for="(cell, i) in response.cells"
                                    v-bind:key="i"
                                >
                                    <div 
                                        class="color-square"
                                        v-bind:class="{ 'color-cell--active': i == cellIndex }"
                                        v-bind:style="{ backgroundColor: cell.color }"
                                        v-on:click="() => setCellIndex(i)"
                                    ></div>
                                    <div 
                                        v-if="cell.token"
                                        class="color-token"
                                    >
                                        [[ cell.token ]]
                                    </div>
                                    <div 
                                        v-else
                                        class="color-token color-token--error"
                                    >
                                        &lt;BLANK&gt;
                                    </div>
                                </div>
                            </div> 
                            <div class="form-sub-section-title">
                                Color Picker for Palette
                            </div>
                            <color-picker
                                v-bind:colors="colors"
                                v-on:pick="setCellColor"
                            ></color-picker>
                            <div class="form-sub-section-title">
                                Textbox for Palette
                            </div>
                            <div class="form-section-description">
                                Choose one word from the text on the left side that is the most related to this color.
                            </div>
                            <div class="token-input-wrapper">
                                <input 
                                class="token-input"
                                v-on:input="setCellToken"
                                v-bind:value="response.cells[cellIndex].token"
                                >
                            </div>
                        </div>
                        <div class="form-section-title">
                            Confidence on Your Palette
                        </div>
                        <div class="confidence-input">
                            <div 
                                class="score-button"
                                v-for="value in [1,2,3,4,5,6,7,8,9,10]"
                                v-bind:key="value"
                                v-bind:class="{ 'score-button--active': value == response.confidence }"
                                v-on:click="() => setConfidence(value)"
                            >
                                [[ value ]]
                            </div>
                        </div>
                    </div>
                </div>
            `,
        });
        var app = new Vue({
            el: '#survey-app',
            delimiters: ['[[', ']]'],
            data: {
                books: this._books,
                colors: this._colors,
                responses: (function getResponses() {
                    var responses = localStorage.getItem(_surveyKey);
                    if (responses) {
                        return JSON.parse(responses);
                    } else {
                        return blankResponses;
                    }
                })(),
                pageSize: 20,
                page: 1,
                maxPage: 0,
                pageBooks: [],
            },
            created: function() {
                this.setPageBooks();
                var responses = localStorage.getItem(_surveyKey);
                if (responses) {
                    this.responses = JSON.parse(responses);
                }
            },
            methods: {
                setPageBooks: function() {
                    var minIndex = (this.page - 1) * this.pageSize;
                    var maxIndex = Math.min(this.page * this.pageSize - 1, this.books.length);
                    this.pageBooks = this.books.slice(minIndex, maxIndex + 1);
                    this.maxPage = Math.ceil(this.books.length / this.pageSize);
                },
                setResponse: function(bookId, cellIndex, color, token) {
                    var newCells = this.responses[bookId].cells.slice(0);
                    newCells[cellIndex] = {
                        color: color || newCells[cellIndex].color,
                        token: token === '' ? '' : token || newCells[cellIndex].token,
                    };
                    this.responses[bookId].cells = newCells;
                    this.saveStatus();
                },
                setConfidence: function(bookId, score) {
                    this.responses[bookId].confidence = score;
                    this.saveStatus();
                },
                addSeconds: function(bookId, seconds) {
                    this.responses[bookId].seconds += seconds;
                    this.saveStatus();
                },
                saveStatus: function() {
                    localStorage.setItem(_surveyKey, JSON.stringify(this.responses));
                },
                setPage: function(page) {
                    this.page = page;
                    window.scrollTo(0, 0);
                },
                validateColors: function() {
                    var isInvalidResponse = Object.keys(this.responses).filter(function (bookId) {
                        var response = this.responses[bookId];
                        var isManyWhites = response.cells.filter(function (cell) {
                            return cell.color.toLowerColor === '#ffffff';
                        }.bind(this)).length > 1;
                        return isManyWhites;
                    }.bind(this)).length > 0;
                    return !isInvalidResponse;
                },
                validateTokens: function() {
                    var isInvalidResponse = Object.keys(this.responses).filter(function (bookId) {
                        var response = this.responses[bookId];
                        console.log('response', response);
                        var isBlankToken = response.cells.filter(function (cell) {
                            console.log('cell.token', cell.token);
                            return cell.token === '';
                        }.bind(this)).length > 0;
                        return isBlankToken;
                    }.bind(this)).length > 0;
                    return !isInvalidResponse;
                },
                validateConfidences: function() {
                    var isInvalidResponse = Object.keys(this.responses).filter(function (bookId) {
                        var response = this.responses[bookId];
                        return response.confidence === null;
                    }.bind(this)).length > 0;
                    return !isInvalidResponse;
                },
                validateResponses: function() {
                    var isInvalidResponse = Object.keys(this.responses).filter(function(bookId) {
                        var response = this.responses[bookId];
                        var isManyWhites = response.cells.filter(function(cell) {
                            return cell.color.toLowerColor === '#ffffff';
                        }.bind(this)).length > 1;
                        var isBlankToken = response.cells.filter(function(cell) {
                            return cell.token === '';
                        }.bind(this)).length > 0;
                        return isManyWhites || isBlankToken;
                    }.bind(this)).length > 0;
                    return !isInvalidResponse;
                },
                submit: function() {
                    console.log(this.responses);
                    if (!this.validateColors()) {
                        alert('Choose color for all 5 slots in the palettes for all books.');
                    } else if (!this.validateTokens()) {
                        alert('Enter the relevent word for each color in the palettes for all books.');
                    } else if (!this.validateConfidences()) {
                        alert('Choose your confidence level on relevance between your palette and the book for all books.');
                    } else {
                        axios.post('/survey/' + _booksId + '/submit', {
                            responses: this.responses,
                        }).then(function (response) {
                            var data = response.data;
                            var succeed = data.startsWith('done:');
                            if (succeed) {
                                var code = data.split(':')[1];
                                window.location.href = '/survey/' + _booksId + '/done/' + code;
                            } else {
                                alert('Error from server on submit: ' + response);    
                            }
                        }).catch(function (error) {
                            alert('Error occurred on submit: ' + error);
                        });
                    }
                },
            },
            watch: {
                page: function() {
                    this.setPageBooks();
                },
                responses: function() {
                    this.saveStatus();
                },
            },
        });
    </script>
</body>
</html>